<nav class="navigation">
	<ul class="links">
		<a id="logo" href="#">Meli Melo</a>
		<a id="contact-button" href="#">Contact</a>
		<a id="contact-button" href="#">Services</a>
		<a id="contact-button" href="#">Products</a>
	</ul>
</nav>