<div class="content-wrap">

	<section id="section-iconbox-1">

		<h1 class="center-text">Sourcing</h1>
		Sed sodales sem turpis, vel consequat mi tristique sed. Integer ut porttitor justo. Nunc sed purus congue, consectetur erat ac, rutrum orci. Aenean et rhoncus mi. Nunc placerat feugiat erat. Curabitur ac vulputate velit. Cras nec arcu erat. In arcu metus, interdum sit amet sollicitudin at, cursus in elit. Maecenas fermentum, tellus ac pellentesque lacinia, est sem vulputate dolor, vel bibendum lorem urna euismod neque. Vivamus hendrerit est vel mattis faucibus. Donec sit amet nunc eu felis lobortis ultricies. Donec at suscipit leo. Suspendisse et justo urna. Nam a facilisis leo. Aenean facilisis rhoncus mi et gravida. Vivamus sit amet ante odio.
		<br>
		<br>

		<ul class="bxslider slider1">
		  <li><img src="assets/corgi.jpg" title="We provide the best corgis!" /></li>
		  <li><img src="assets/corgi.jpg" title="Only the finest fur for your corgi!"/></li>
		  <li><img src="assets/corgi.jpg" title="Only 5.99 per month to raise your very own corgi!"/></li>
		  <li><img src="assets/corgi.jpg" title="Nothing beats that soft ass fur!"/></li>
		</ul>
		
	</section>

	<section id="section-iconbox-2">

		<h1 class="center-text">Prototyping</h1>
		Nunc pharetra elit sapien, et volutpat diam hendrerit non. Maecenas aliquet arcu ac magna euismod, vel auctor augue tempor. Vestibulum dapibus tristique nisl, at mollis metus volutpat vitae. Praesent ac nisi ullamcorper, condimentum felis eu, tincidunt velit. Proin eleifend velit vehicula enim tempus, a rhoncus nibh ultrices. Aenean in mauris in dui pharetra pretium sit amet ac dui. Vestibulum sollicitudin lectus vitae ipsum varius ornare.
		<br>
		<br>

		<ul class="bxslider slider2">
		  <li><img src="assets/corgi.jpg" title="We provide the best corgis!" /></li>
		  <li><img src="assets/corgi.jpg" title="Only the finest fur for your corgi!"/></li>
		</ul>

	</section>

	<section id="section-iconbox-3">

		<h1 class="center-text">Production</h1>
		Nullam ut volutpat orci. Morbi tristique posuere nisl quis ultrices. Vivamus scelerisque risus vitae felis consequat placerat. Donec et pretium tortor. Praesent placerat iaculis euismod. Donec vitae rhoncus ex. Vivamus nec augue eget sem feugiat suscipit vitae a tellus.
		<br>
		<br>

		<ul class="bxslider slider3">
		  <li><img src="assets/corgi.jpg" title="We provide the best corgis!" /></li>
		  <li><img src="assets/corgi.jpg" title="Only the finest fur for your corgi!"/></li>
		  <li><img src="assets/corgi.jpg" title="Only 5.99 per month to raise your very own corgi!"/></li>
		</ul>

	</section>

</div><!-- /content -->