<nav>
	<ul>
		<li class="tab-button" data-number="1"><a href="#section-iconbox-1" class="icon icon-config"><span class="tab-text">Sourcing</span></a></li>
		<li class="tab-button" data-number="2"><a href="#section-iconbox-2" class="icon icon-tools"><span class="tab-text">Prototyping</span></a></li>
		<li class="tab-button" data-number="3"><a href="#section-iconbox-3" class="icon icon-gift"><span class="tab-text">Production</span></a></li>
	</ul>
</nav>