html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	background-color: transparent !important;
}

.padding-0 {
	padding: 0;
}

#panel-1 {
	background: url(melimelobg.jpg) no-repeat left; 
	height: 100vh;
	width: 100wh;
	background-size: cover;
}

#logo {
	font-family: 'Montez', cursive;
	color: #fbf4ee;
	font-size: 30px;
}

nav ul {
	position: relative;
	left: 40px;
	top: 20px;
	list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.links a {
	font-family: 'Indie Flower', cursive;
	color: #fbf4ee;
	font-size: 20px;
	padding-right: 50px;
}

#main-text {
	font-family: 'Montez', cursive;
	color: #fbf4ee;
	position: relative;
	top: 170px;
	font-size: 50px;
	left: 45px;
}

#sub-text {
	font-family: 'Indie Flower', cursive;
	color: #fbf4ee;
	position: relative;
	top: 190px;
	font-size: 22px;
	left: 45px;
}

/* Tab Styling */

.tabs {
	text-align: center;
	width: 33wh;
	height: 10vh;
	font-size: 30px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

/* Tab Content Styling */

.services-content p {
	padding: 0px 300px 0px 300px;
	height: 90vh;
}
